/* Import light theme components */

/* Base styles */
@import "./card/shared.css";

/* Card-specific styles */
@import "./card/clock.css";
@import "./card/homework.css";
@import "./card/launchpad.css";

/* Loading animation */
@import "./loading.css";