/* Import dark theme components */

/* Base styles */
@import "./card/shared-dark.css";

/* Card-specific styles */
@import "./card/clock-dark.css";
@import "./card/homework-dark.css";
@import "./card/launchpad-dark.css";

/* Loading animation */
@import "./loading-dark.css";

:root,
.mdui-theme-light {
  color: #000;
  background-color: transparent;
}

.mdui-theme-dark {
  color: #fff;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .mdui-theme-auto {
    color: transparent;
    background-color: transparent;
  }
}