/* Import light theme components */

/* Base styles */
@import "./card/shared.css";

/* Card-specific styles */
@import "./card/clock.css";
@import "./card/homework.css";
@import "./card/launchpad.css";

/* Loading animation */
@import "./loading.css";

:root,
.mdui-theme-light {
  color: #000;
  background-color: transparent;
}

.mdui-theme-dark {
  color: #fff;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .mdui-theme-auto {
    color: transparent;
    background-color: transparent;
  }
}