name: Build
on:
  push:
    branches: [ main ]
jobs:
 build:
   runs-on: ${{ matrix.os }}
   continue-on-error: true
   strategy:
     matrix:
       os: [windows-latest, macos-latest, ubuntu-latest]
   steps:
     - name: Checkout Code
       uses: actions/checkout@v2
     - name: Setup Node.js
       uses: actions/setup-node@v6.1.0
       with:
         node-version: 24
     - name: Install Yarn
       run: npm install -g yarn
     - name: Install Dependencies
       run: yarn
     - name: Delete Unnecessary Files on Windows
       if: matrix.os == 'windows-latest'
       run: |
         if exist README.md del /f /q README.md
         if exist .github rmdir /S /Q .github
         if exist .gitignore del /f /q .gitignore
         if exist .gitattributes del /f /q .gitattributes
         if exist .vscode rmdir /S /Q .vscode
         if exist readme rmdir /S /Q readme
         if exist installer rmdir /S /Q installer
         if exist changelog rmdir /S /Q changelog
         if exist node_modules/.cache rmdir /S /Q node_modules/.cache
       shell: cmd
     - name: Delete Unnecessary Files on Unix
       if: matrix.os != 'windows-latest'
       run: |
         [ -f README.md ] && rm -rf README.md || true
         [ -d .github ] && rm -rf .github || true
         [ -f .gitignore ] && rm -rf .gitignore || true
         [ -f .gitattributes ] && rm -rf .gitattributes || true
         [ -d .vscode ] && rm -rf .vscode || true
         [ -d readme ] && rm -rf readme || true
         [ -d installer ] && rm -rf installer || true
         [ -d changelog ] && rm -rf changelog || true
         [ -d node_modules/.cache ] && rm -rf node_modules/.cache || true
       shell: bash
     - name: Build with electron-forge
       run: "yarn make"
     - name: Upload Build Artifacts (Windows)
       if: matrix.os == 'windows-latest'
       uses: actions/upload-artifact@v6.0.0
       with:
         name: classwindows-${{ matrix.os }}
         path: |
           ./out/**
           !./out/make/**
     - name: Upload Build Artifacts (Unix)
       if: matrix.os != 'windows-latest'
       uses: actions/upload-artifact@v6.0.0
       with:
         name: classwindows-${{ matrix.os }}
         path: ./out/make/**
     - name: Upload ASAR Artifacts
       if: matrix.os == 'ubuntu-latest'
       uses: actions/upload-artifact@v6.0.0
       with:
         name: update
         path: ./out/**/app.asar